* {
    margin: 0;
    padding: 0;
}

html{
    background-color: #fcfce6
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  color: #789;
}

#heroimage{
    margin: 0;
    height: 200px;
    width: 100vw;
    background: url("https://i.ibb.co/HDfYMDp/aqualatehero.png") no-repeat center center;